<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/dashbase::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">

<title>Admin Dashboard</title>
</head>
<body>
<section>
      <h2 style="margin-top: 30%;">Welcome </h2>
      
      	<div class="card" style="width: 300px;border-radius:30px;">
			<img alt="" src="../img/p3.jpg" style="height: 230px; width: 300px;  border-radius: 15px;">
			<div class="card-body" style="background: none;text-align: justify;">
				<p	class="card-text">Welcome,Here you can View your users.</p>
            <a href="/viewUser" style="text-decoration: none;">View Users <i class="fa-solid fa-arrow-right"></i></a>
           </div>
    </div>
   
      
</section>
</body>
</html>