<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/userstyle2.css}">
<title>Insert title here</title>
</head>
<body>
	<section>
	<!-- <a style="margin-top:20%;margin-left: 20%;"><i class="fa-solid fa-circle-arrow-left"></i>Back</a> -->
		<div class="Card">
			<div class="card-body11">
			 
				<h2 class="text-center">Add Contact</h2>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col">
						  <!--  <div th:if="${session.message1}" th:classappend="${session.message1.messageType}" class="alert" role="alert">
                   <p th:text="${session.message1.content}"></p>
                   <th:block th:text="${#session.removeAttribute('message1')}"/>
                   </div> -->
                   
                    <div th:if="${session.message}" th:classappend="${session.message.messageType}" class="alert" role="alert">
                   <p th:text="${session.message.content}"></p>
                   <th:block th:text="${#session.removeAttribute('message')}"/>
                   </div>
        
                        
						
							<form th:action="@{/add_contact{userId}(userId=${session.userId})}" enctype="multipart/form-data" method="post" th:object="${contact}" class="mt-2">
								<div class="col">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-solid fa-user"></i></div>
										</div>
										<input type="text" class="form-control" name="personName"
											id="inlineFormInputGroup" placeholder="Person Name">
									</div>
								</div>
                                
                                 <div class="col mt-3">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-solid fa-user-group"></i></div>
										</div>
										<input type="text" class="form-control" name="nickName"
											id="inlineFormInputGroup" placeholder="Nick Name">
									</div>
								</div>
								
								 <div class="col mt-3">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-solid fa-mobile-screen-button"></i></div>
										</div>
										<input type="text" class="form-control" name="mobileNo"
											id="inlineFormInputGroup" placeholder="Mobile Number">
									</div>
								</div>
								
								 <div class="col mt-3">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-solid fa-envelope"></i></div>
										</div>
										<input type="text" class="form-control" name="personEmail"
											id="inlineFormInputGroup" placeholder="Email Address">
									</div>
								</div>
								
								 <div class="col mt-3">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-solid fa-briefcase"></i></div>
										</div>
										<input type="text" class="form-control" name="personWork"
											id="inlineFormInputGroup" placeholder="Work">
									</div>
								</div>
								
								 <div class="col mt-3">
									<!-- <div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-solid fa-mobile-screen"></i></div>
										</div>
										 -->
										<textarea  class="form-control" name="personDescription"
											id="inlineFormInputGroup" placeholder="Description" rows="3" cols="10"></textarea>
								<!-- 	</div>-->
								</div> 
								
								<div class="col mt-3">
								 	<!--  <div class="input-group"> -->
										<!-- <div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-solid fa-image"></i></div>
										</div> -->
										<input type="file" class="form-control" name="person_Image"
											id="inlineFormInputGroup" placeholder="Person Image" style="border-style: none;">
									<!-- </div> -->
								</div>
								
								<input type="submit" class="btn btn-secondary" value="Save" style="margin-top:3%; margin-left: 40%; font-size: large; border-radius: 10px;width: 20%;">

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>