<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:fragment="Layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS library -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>

<!-- JS library -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>

<!-- Latest compiled JavaScript library -->
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" th:href="@{/css/userstyle2.css}">
    <title th:text="${title}">Smart Contact Manager</title>
  </head>
  <body >
  
  
 <nav class="navbar navbar-expand-sm navbar-blue bg-color fixed-top">
    <img alt="" src="../img/icon11.png" style="height: 35px;">&nbsp;
    <a class="navbar-brand" href="#" style="font-size: 25px;" >Smart Contact Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav ml-auto" style="font-size: 20px;" >
    
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        
        <li class="nav-item">
         <div class="dropdown">
               <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-current="page" href="#"> <img src="" class=" my_profile_picture" th:src="@{'/img/'+${session.user1.profileImage}}" /><span th:text="${session.user1.userName}"></span></a>
               <div class="dropdown-menu" style="background: none;">
                
                  <a href="viewProfile" class="nav-link "><i class="fas fa-user-circle"></i> View Profile</a>
                    <a class="nav-link " aria-current="page" th:href="@{/signout{userId}(userId=${session.userId})}"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a>
              
                   <a class="nav-link " aria-current="page" href="login">Logout</a>
                  </div>
         </div>
         
        </li>
        
        <!--  <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="login">Logout</a>
        </li>  -->
       
      
      </ul>
     
    </div>

</nav>
  
  <!-- {userId}(userId=${session.userId})} -->
  
   <!--Sidebar start  -->
  <section class="sidebar">
       
       <a id="home-link" href="home" class="nav-link "> <i class="fa-solid fa-house-chimney-user"></i> Home</a>
       <a id="add-link" href="addcontact" class="nav-link "> <i class="fas fa-pencil-alt"></i> Add Contact</a>
       <a id="view-link"th:href="@{/viewContacts}" class="nav-link "><i class="fas fa-id-card-alt"></i> View Contact</a>
       
        <div class="dropdown">
           <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cogs"></i> Settings</a> 
           <div class="dropdown-menu" style="background:#A8A8A8; ">
                <a id="upload-link" href="profile" class="nav-link "><i class="fas fa-user-circle"></i> Upload Profile Photo</a>
               <a id="change-link"href="/changepass" class="nav-link "><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a>
           </div>
        </div>
        
        
       <div class="divider"></div>
  </section>
    <!-- sidebar end -->
    
    
    <section class="content">
      <div th:replace="${content}"></div>
    
    </section>
    
  </body>
</html>