<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Smart Contact Manager</title>
</head>
<body>
	<section>

		<div class="container mt-6">
		 <p style="margin-top: 35%;font-size: larger;">Change Password</p>
		 
		 <div th:if="${session.message22}" th:classappend="${session.message22.messageType}" class="alert" role="alert" style="margin-left:110%; width: 110%;">
                   <p th:text="${session.message22.content}"></p>
                   <th:block th:text="${#session.removeAttribute('message22')}"/>
                   </div>
			 
			  
			<div class="change-password">
			     <img alt="" src="../img/icon11.png" style="height:40px; margin: 0 0 3% 43%; ">
				<h4 style="margin:2% 0 3% 19%;">Change Password</h4>
				<form th:action="@{/changepass{userId}(userId=${session.userId})}" method="post">
					<div class="form-group">
						<label for="password">Old Password:</label> <input type="password"
							class="form-control" placeholder="Old password" id="email">
					</div>
					<div class="form-group">
						<label for="pwd">New Password:</label> <input type="password"
							class="form-control" placeholder="New password" name="password" id="pwd">
					</div>
					
					<button type="submit" class="btn btn-primary" style="margin-left:40%;">Submit</button>
				</form>

			</div>


		</div>

	</section>
</body>
</html>