<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">
<title>Insert title here</title>
</head>
<body>
  <section class="banner1" >
   <marquee style="font-family: fantasy; font-size: 60px; margin-top: 10%">Smart Contact Manager</marquee>
   
   
  </section>
      <section id="footer">
       <span >© 2022 All Rights Reserved. </span>
      </section>
       
 
</body>
</html>